# ignore dependencies and builds of both projects
**/node_modules/
**/.expo/
**/dist/
**/web-build/
**/expo-env.d.ts

# debug logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/*.log

# local env files
**/.env
**/.env.local
**/.env*.local

# TS build info
**/*.tsbuildinfo

# OS metadata files
.DS_Store
.AppleDouble
.LSOverride
._*
**/._*
**/.DS_Store
